:root {
  --mainColor: #d4d0c5;
  --mainLight: #fafeff;
  --mainShadow: #817d7a;
  --mainDark: #41403e;
  --topColor: #aa00dd;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  background: linear-gradient(transparent 10%, #ffff8815 30%, #ffff8815 50%, transparent 70%);
  background-size: 10px 10px;
  pointer-events: none;
  animation: scanlines 3s linear infinite;
  left: 0;
  top: -10px;
}

@keyframes scanlines {
  from {transform: translateY(0)}
  to {transform: translateY(10px)}
}

#window {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--mainColor);
  border-top: 6px solid var(--mainLight);
  border-left: 6px solid var(--mainLight);
  border-right: 6px solid var(--mainDark);
  border-bottom: 6px solid var(--mainDark);
}

.topBar {
  background: var(--topColor);
  background: linear-gradient(to right, var(--topColor) 0%, var(--mainColor) 110%);
  width: 100%;
  height: 2.2em;
}

.topTitle {
  color: white;
  font-size: 1.7em;
  line-height: 1.2em;
  margin-left: 0.5em;
  text-decoration: none;
}

.topButton {
  background-color: var(--mainColor);
  width: 1.2em;
  height: 1.2em;
  float: right;
  border-top: 3px solid var(--mainLight);
  border-left: 3px solid var(--mainLight);
  border-right: 3px solid var(--mainShadow);
  border-bottom: 3px solid var(--mainShadow);
  text-align: center;
  padding: 2px;
  margin: 2px;
  line-height: 1em;
  cursor: pointer;
  color: var(--mainDark);
}

.topButton:hover {
  border-bottom: 3px solid var(--mainLight);
  border-right: 3px solid var(--mainLight);
  border-left: 3px solid var(--mainShadow);
  border-top: 3px solid var(--mainShadow);
}

#topMenu {
  color: var(--mainDark);
  margin-left: 15px;
  line-height: 0.7em;
  font-family: monospace;
}

.topMenuButton {
  margin-right: 0.8em;
  cursor: pointer;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

#mainBody {
  margin-top: 16px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  top: 2.8em;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-right: 4px solid var(--mainLight);
  border-bottom: 4px solid var(--mainLight);
  border-left: 4px solid var(--mainShadow);
  border-top: 4px solid var(--mainShadow);
  overflow: hidden;
  background-color: black;
}

#mainBg {
  width: 600%;
  height: 200%;
  bottom: 0;
  transform-origin: bottom center;
  position: absolute;
  left: -250%;
  background-color: black;
  --gradient: transparent, cyan 10px, cyan 11px, transparent 19px; /* Just to not have to re-type it */
  background-image: linear-gradient(black, transparent 130%), linear-gradient(var(--gradient)), linear-gradient(to right, var(--gradient));
  background-size: 100% 100%, 120px 120px, 120px 120px;
  transform: perspective(20em) rotateX(35deg);
  animation: flicker 10s linear infinite, bgScroll 6s linear infinite;
}

@keyframes bgScroll {
  from {transform: perspective(20em) rotateX(35deg) translateY(0)}
  to {transform: perspective(20em) rotateX(35deg) translateY(120px)}
}

@keyframes flicker {
	0%, 19.5%, 21.5%, 52.5%, 53.5%, 64.5%, 65.5%, 68.5%, 69.5%, 89.5%, 94.5%, 100% {
		opacity: 0.99;
  }
	20%, 21%, 53%, 65%, 69%, 90% {
		opacity: 0.8;
	}
}

#popups {
  position: absolute;
  left: 5%;
  bottom: 7%;
  background-color: var(--mainColor);
  border-top: 4px solid var(--mainLight);
  border-left: 4px solid var(--mainLight);
  border-right: 4px solid var(--mainDark);
  border-bottom: 4px solid var(--mainDark);
  scale: 0.8;
}

#popupImgs {
  bottom: 0;
  width: 300px;
  height: 150px;
  border-right: 3px solid var(--mainLight);
  border-bottom: 3px solid var(--mainLight);
  border-left: 3px solid var(--mainShadow);
  border-top: 3px solid var(--mainShadow);
  margin-top: 3px;
  image-rendering: pixelated;
}

#popupImgs .ad {
  width: 300px;
  height: 150px;
  position: absolute;
  background-size: 100%;
  animation: adFade 33s infinite;
 }
  
 #popupImgs .ad:nth-child(1) {
    background-image: url('https://static.tumblr.com/niipkfc/gttsb7ud5/ants.png');
    animation-delay: 0s;
 }
 
 #popupImgs .ad:nth-child(2) {
    background-image: url('https://static.tumblr.com/niipkfc/Qj5sb7ubx/ascension.png');
    animation-delay: -27.5s;
 }
 
 #popupImgs .ad:nth-child(3) {
    background-image: url('https://static.tumblr.com/niipkfc/KEWsb7udi/gay.png');
    animation-delay: -22s;
 }
 
 #popupImgs .ad:nth-child(4) {
    background-image: url('https://static.tumblr.com/niipkfc/nS2sb7ubx/bonsai.png');
    animation-delay: -16.5s;
 }
 
 #popupImgs .ad:nth-child(5) {
    background-image: url('https://static.tumblr.com/niipkfc/UTSsb7udc/dice.png');
    animation-delay: -11s;
 }
 
 #popupImgs .ad:nth-child(6) {
    background-image: url('https://static.tumblr.com/niipkfc/NNKsb7udl/potion.png');
    animation-delay: -5.5s;
 }
 
 @keyframes adFade {
   0%, 15%, 100% {
     opacity: 1;
     animation-timing-function: ease;
     z-index: 0;
   }
   17% {
     opacity: 0;
     animation-timing-function: step-end;
     z-index: 0;
   }
   98% {
     opacity: 1;
     animation-timing-function: step-end;
     z-index: -1;
   }
 }