@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --counter-height: 280px;
    --mugSize: 40px;
}

html {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -10;
}

#background::after {
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    content: "";
    position: absolute;
    z-index: -1;
    background-position: 0 0, 10px 10px;
    background-image: radial-gradient(cyan 0.5px, transparent 1px), radial-gradient(cyan 0.5px, transparent 1px);
    background-size: 20px 20px;
    animation: bgSpin 260s linear infinite;
    mask-image: radial-gradient(circle at center, black 30px, transparent 800px);
    mask-position: var(--bgX) var(--bgY);
}
@keyframes bgSpin {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

#counter, #counterTop, .mugCup, .mugHandle, .mugHandle::after, #menuBorder {
    position: absolute;
    overflow: hidden;
    background: black;
    border: 1px solid white;
}

#counter, #counterTop, .mugCup, .mugHandle {
    filter: contrast(50);
}

#counter::after, #counterTop::after, .mugCup::after, #menuBorder::after {
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    content: "";
    position: absolute;
    z-index: -1;
}

#counter {
    bottom: -1px;
    left: -1px;
    width: 800px;
    height: calc(var(--counter-height) - 30px);
}
#counter::after {
    background-position: 0 0, 10px 10px;
    background-image: radial-gradient(magenta 1px, transparent 4px), radial-gradient(magenta 1px, transparent 4px);
    background-size: 20px 20px;
    mask-image: linear-gradient(black, rgb(0 0 0 / 0.4));
    animation: counterScroll 3s linear infinite;
}

@keyframes counterScroll {
    from {background-position: 0 0, 10px 10px;}
    to {background-position: 0 20px, 10px 30px;}
}

#counterTop {
    bottom: calc(var(--counter-height) - 30px);
    left: -1px;
    width: 810px;
    height: calc(var(--counter-height) * 0.107);
    border-radius: 0 8px 4px 0;
}
#counterTop::after {
    background-position: 0 0, 5px 5px;
    background-image: radial-gradient(magenta 1px, transparent 4px), radial-gradient(magenta 1px, transparent 4px);
    background-size: 10px 10px; 
    animation: counterTopScroll 3s linear infinite;  
    mask-image: linear-gradient(black, rgb(0 0 0 / 0.4));
}

@keyframes counterTopScroll {
    from {background-position: 0 0, 5px 5px;}
    to {background-position: 0 10px, 5px 15px;}
}

.mug {
    position: absolute;
    bottom: calc(var(--counter-height) - 29px + calc(calc(var(--counter-height) * 0.107)));
    transition: rotate 0.3s ease, translate 0.4s ease-in-out;
}

.mug:hover {
    rotate: 7deg;
    translate: 3px -18px;
}

.mugCup {
    bottom: 0px;
    width: var(--mugSize);
    height: calc(var(--mugSize) * 1.1);
    border-radius: calc(var(--mugSize) * 0.1) calc(var(--mugSize) * 0.1) calc(var(--mugSize) * 0.4) calc(var(--mugSize) * 0.4);
}

.mugCup::after {
    background-position: 0 0, 4.5px 4.5px;
    background-image: radial-gradient(yellow 1px, transparent 3px), radial-gradient(yellow 1px, transparent 3px);
    background-size: 9px 9px;   
    mask-image: linear-gradient(to left, black, rgb(0 0 0 / 0.5));
    transition: rotate 0.3s ease, translate 0.4s ease-in-out;
    animation: mugScroll 2.4s linear infinite;
}
.mugCup:hover::after {
    rotate: -7deg;
    translate: -3px 18px;
}

.mugHandle {
    position: absolute;
    width: calc(var(--mugSize) * 0.85);
    height: calc(var(--mugSize) * 0.85);
    border-radius: calc(var(--mugSize) * 0.425);
    bottom: 9px;
    left: -16px;
    z-index: -2;
    background: black;
}

.mugHandle::after {
    border: 1px solid white;
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 7px;
    right: 8px;
    border-radius: 8px;
    background: black;
}

@keyframes mugScroll {
    from {background-position: 9px 0, 13.5px 4.5px;}
    to {background-position: 0 0, 4.5px 4.5px;}
}

@keyframes mugSlide {
    from {translate: -800px 0}
    to {translate: 0 0;}
}

#menuBlock {
    position: absolute;
    left: 810px;
    width: calc(100% - 810px);
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
}

#menuBorder {
    --menuSize : 500px;
    width: var(--menuSize);
    height: calc(var(--menuSize) * 1.2);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    z-index: -1;
}

#menuBorder::after { 
    background-position: 0 0, 10px 10px;
    background-image: radial-gradient(yellow 1px, transparent 1px), radial-gradient(yellow 1px, transparent 1px);
    background-size: 20px 20px;
    animation: menuScroll 6s linear infinite;
}

@keyframes menuScroll {
    from {background-position: 0 0, 10px 10px;}
    to {background-position: 20px 20px, 30px 30px;}
}

#menu {
    border-radius: 5px;
    left: 0;
    right: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
    justify-content: center;
    align-content: flex-start;
    gap: 3px 30px;
    position: absolute;
    overflow: hidden;
    background: black;
    border: 1px solid white;
}

h1, h2 {
    font-family: "Chivo Mono", monospace;
    color: magenta;
    font-optical-sizing: auto;
    font-weight: normal;
    text-align: center;
}

h1 {
    width: 60%;
    line-height: 1.3em;
    font-size: 32px;
    border-top: 1px solid magenta;
    border-bottom: 1px solid magenta;
    border-radius: 6px;
}

h2 {
    line-height: 0;
}

a {
    color: cyan;
    z-index: 10;
}

.menuEntry {
    font-family: "Cousine", monospace;
    color: white;
    width: 42%;
    font-size: 16px;
}

.menuText {
    border-top: 1px solid magenta;
    padding-top: 8px;
}


#ant {
    position: absolute;
    z-index: -3;
    height: calc(var(--counter-height) * 1.7857);
    left: 80px;
    bottom: calc(var(--counter-height) * 0.65714);
    cursor: pointer;
}

.antAnim {
    animation: antPopup 0.2s ease;
}

@keyframes antPopup {
    0% {transform: scaleX(0.7) scaleY(1.3);}
    50% {transform: scaleX(1.1) scaleY(0.9);}
    100% {transform: scaleX(1) scaleY(1);}
}

#speech {
    font-family: "Chivo Mono", monospace;
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    max-width: 300px;
    min-width: 64px;
    background: black;
    border-radius: 20px;
    padding: 22px;
    text-align: center;
    color: white;
    border: 1px solid white;
    bottom: calc(var(--counter-height) + 300px);
    left: 385px;
    transform-origin: bottom left;
}

.speechAnim {
    animation: speechAnim 0.1s ease-out;
}

@keyframes speechAnim {
    from {transform: scale(0.6) rotate(40deg);}
    to {transform: scale(1) rotate(0);}
}
  
#speech::before, #speech::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
}
  
#speech::before {
    border-left: 26px solid white;
    border-right: 13px solid transparent;
    border-top: 13px solid white;
    border-bottom: 22px solid transparent;
    left: 30.5px;
    bottom: -36px;
}
  
#speech::after {
    border-left: 24px solid black;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -32px;
}

.hidden {
    display: none;
}

#snence {
    padding-top: -1em;
    width: 2em;
    animation: snence 0.6s ease infinite;
}

@keyframes snence {
    0%, 100% {transform: scaleX(1) translateY(0);}
    25% {transform: scaleX(1) translateY(3px);}
    49% {transform: scaleX(1) translateY(0);}
    50% {transform: scaleX(-1) translateY(0);}
    75% {transform: scaleX(-1) translateY(3px);}
    99% {transform: scaleX(-1) translateY(0);}
}

@media only screen and (max-width: 768px) {
    :root {
        --counter-height: 120px;
        --mugSize: 24px;
    }

    #counter {
        width: 90%;
    }

    #counterTop {
        width: calc(90% + 10px);
    }

    #ant {
        height: calc(var(--counter-height) * 2.3);
        bottom: calc(var(--counter-height) * 0.65714 - 20px);
    }

    #menuBlock {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        z-index: -10;
    }
    
    #menuBorder {
        width: 80%;
        height: min(60%, 600px);
        aspect-ratio: 0.8333 / 1;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 10px;
        z-index: -1;
        margin-top: 5%
    }

    #menu {
        width: 94%;
    }

    .menuEntry {
        font-size: 14px;
    }

    #speech {
        bottom: calc(var(--counter-height) * 1.6);
        left: 310px;
        font-size: 13px;
        line-height: 24px;
        max-width: 200px;
        min-width: 70px;
        padding: 11px;
    }
}