body {
  margin: 0;
  overflow: hidden;
}

#tiles {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.tile {
  width: 5vh;
  height: 5vh;
  position: absolute;
}

.ground {
  background: #444;
  box-sizing: border-box;
  border-top: 4px solid #666;
  border-left: 4px solid #666;
  border-right: 4px solid #111;
  border-bottom: 4px solid #111;
}

.danger {
  background: red;
}

#fella {
  top: 0;
  left: 0;
  width: 5vh;
  height: 10vh;
  position: absolute;
  background-color: black;
  border-radius: 1vh;
}